<a href="https://colab.research.google.com/github/less927/mulcamp34/blob/main/%EA%B8%B0%EC%B4%88%EB%AC%B8%EB%B2%95231227.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Chapter 3. 파이썬을 계산기처럼
## 사칙연산

In [35]:
1+1

2

In [36]:
5-2

3

In [37]:
15*2

30

In [38]:
#나눗셈
#python 3.x 실수 2.x 정수
10/2  #정수 / 정수 반환값은 실수형

5.0

- 실수연산

In [39]:
print(1.2 + 5.3)
print(5.3 - 2.2)
print(2.5*2.5)
print(5.5/2.5)

6.5
3.0999999999999996
6.25
2.2

In [40]:
print(5.3 - 2.2)

3.0999999999999996

In [41]:
print(2.5*2.5)

6.25

In [42]:
print(5.5/2.5)

2.2

###연산규칙
- (1)괄호안 계산
- (2) 지수계산
- (3) 곱셈과 나눗셈
- (4) 덧셈과 뺄셈
- (5)같은순위 왼쪽 오른쪽
- (6)괄호는 안쪽부터

In [43]:
print(2 + 3 * 4)

14

In [44]:
print(3 / 2 * 4 - 5 /2)

3.5

In [45]:
print ((5 * 4 - 15) + ((5 - 2) * (9 - 7)))

11

In [46]:
print(type(3))

<class 'int'>

In [47]:
print(type(3.5))

<class 'float'>

In [48]:
print(type(~~~))

SyntaxError: ignored

함수의 종류
-내장 함수 (built- in) 파이썬 설치와 함께 제공하는 기본적인 함수
(print, type)
-

파이썬은 객체지향 언어입니다.

##거듭제곱과 나머지
- 숫자A 를 N번 곱하지 (Power)
 +A는 및 N을 지수라고 표현

In [49]:
print (2 * 2 * 2 * 2 * 2)

32

In [50]:
print (2 ** 5)

32

- 나머지 구하는 방법

In [51]:
13 % 5

3

In [52]:
13 // 5

2

- 교재 표 3-1 (p34) 산술연산자 표 정리

## 과학적 표기법
- 아주 큰 수, 작은 수를 다뤄야 하는 케이스
- 300,000,000= 3*10**8 , 3e8

In [53]:
print (3*10**8)
print (3e8)

300000000
300000000.0

In [54]:
3e-4

0.0003

## 진수 표현과 변환

In [55]:
0b10001 2진법

SyntaxError: ignored

In [ ]:
0o21 8 8진법

In [ ]:
0x11 16진법

-메소드
 + bin() 10진수를 2진수로
 + oct() 10-> 8
 + hex() 10-> 16

## 논리 연산 및 비교 연산
- 참 / 거짓
-

In [ ]:
print(True)

In [ ]:
print(False)

In [ ]:
print(type(True))

### 논리 연산자
- and : A and B : A 와 B 모두 참일때 참
- or : A 와 B 중 하나라도 참이면 참 둥다 거짓일때 거짓
- not A 가 참일때 거짓 A 가 거짓이면 참

In [ ]:
print(True and True)
print(True and False)
print(False and true)
print(False and false)

In [ ]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

In [ ]:
not True

In [ ]:
not False

### 비교연산

In [59]:
print(1==2)
print(1 != 2)
print(1 <= 2)
print(1 < 2)
print(1 >= 2)
print(1 > 2)

False
True
True
True
False
False

비교연산 + 논리연산

In [60]:
1 > 0 and -2 < 0 # 비교연산 (1순위) 논리연산 (2순위)

True

In [61]:
((3 < 0 ) and (-5 > 0) and (1 > 5))

False


# Chapter 4. 변수와 자료형

## 변수

In [58]:
1 + 1

2

변수명 = data

In [2]:
# 변수 : variable, 데이터
a = 100
b = 110
c = 120
print ((a)*(b))

11000

In [3]:
#변수명 짓기 규칙
#snake
num_a = 100
num_b = 110
num_c = 120

#camel
#myStudent = evan
#mySchool = 학교
print (num_a)#내장함수명을 변ㅜ명으로   x
num = 1
Num = 2
print(num)
print(Num)

100
1
2

### 예약어는 변수명으로 이용할수없음
- ex) print, None, True ,etc

### 변수의 반대어 상수
- 한번 지정후 변하지않는값

In [3]:
#상수
pi = 3.14

In [30]:
num1 = (int(num1))
num2 = (int(num2))

print(num1, num2)

100 200

In [31]:
print(num1 + num2)

300

In [18]:
print(type(num1))
print(type(num2))

<class 'str'>
<class 'str'>

In [29]:
string_num = "42"
int_num = int(string_num)
print(int_num)  # Output: 42

42