<a href="https://colab.research.google.com/github/less927/mulcamp34/blob/main/%EA%B8%B0%EC%B4%88%EB%AC%B8%EB%B2%95231228.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#27일 리뷰
-int, flaot, str, bool(True/False)
-리스트,튜플

#문자열 함수 (p158)
- function,method

In [ ]:
coffe_menu_str = "에스프레소,아메리카노,카페라테,카푸치노"
coffe_menu_str.split('.')

#결과해석
#내가원하는대로 결과가 나왔는가
#반환값,Return 자료형 확인필수

['에스프레소,아메리카노,카페라테,카푸치노']

In [ ]:
"에스프레소,아메리카노,카페라테,카푸치노".split(',')

['에스프레소', '아메리카노', '카페라테', '카푸치노']

In [ ]:
"에스프레소 아메리카노 카페라테 카푸치노".split(' ')

['에스프레소', '아메리카노', '카페라테', '카푸치노']

In [ ]:
"에스프레소. 아메리카노. 카페라테. 카푸치노".split(' ')

['에스프레소.', '아메리카노.', '카페라테.', '카푸치노']

In [ ]:
phone_number = "+82-10-6508-1377"

#+82만추출
"+82-10-6508-1377"[0:3]
result = phone_number.split('-')
result

['+82', '10', '6508', '1377']

In [ ]:
phone_number.split('-', maxsplit=2)

['+82', '10', '6508-1377']

## strip() : 필요없는 문자열 삭제
앞뒤 공백 혹은 개행문자와 같이 불필요한 부분 지우고싶을때 사용

In [ ]:
tempText = ' Python '
tempText.strip()

'Python'

In [ ]:
tempText = 'aaaPythonaaa'
print (tempText.strip('a'))
print (tempText[3:9])

Python
Python

In [ ]:
tempText = 'aaabbPythonbbaaa'
print (tempText.strip('ab'))
print (tempText[5:11])

Python
Python

In [ ]:
tempText = 'aaabbPythonbbaaa'
result = tempText.strip('a')
result.strip('b')

'Python'

In [ ]:
tempText = '\n Python \n\n'
tempText.strip('\n')

' Python '

In [ ]:
tempText.strip(' \n')

#lstrip(), 해당 텍스트의 왼쪽
#rstrip(), 해당 텍스트의 오른쪽

'Python'

## join():문자 연결

In [ ]:
name1 = '철수'
name2 = '영미'

hello = '님, 주소와 전화번호를 입력해주세요'
print((name1 + hello))
a.join(name1+name2)

철수님, 주소와 전화번호를 입력해주세요

'철 수 영 미'

In [ ]:
address_list = ['서울시', '서초구,' '반포대로', '201(반포동)']
a = " "
a.join(address_list)

'서울시 서초구,반포대로 201(반포동)'

##find() : 문자열 찾기
- 문자열의 위치 값을 반환한다

In [ ]:
str_f = 'Python code'
print("찾는 문자열의 위치", str_f.find('n'))
print("찾는 문자열의 위치", str_f.find('java')) # (-1)는 해당되는 문자 없음

찾는 문자열의 위치 5
찾는 문자열의 위치 -1

## count() : 찾고자하는 문자열의 횟수를 반환
- 만약 찾는 문자열이 없을경우 0으로 반

In [ ]:
str_c = "Python is powerful. Python is easy to learn. Python is open"
print("Python의 갯수는?", str_c.count("Python"))
print("Python의 갯수는?", str_c.count("powerful"))
print("Python의 갯수는?", str_c.count("Java"))

Python의 갯수는? 3
Python의 갯수는? 1
Python의 갯수는? 0

## startswith, endswith
-각 문자열이 지정된 문자로 시작 혹은 끝나는지 검사

In [ ]:
str_c = "Python is powerful. Python is easy to learn. Python is open."
print("Python으로 시작?", str_c.startswith('Python'))
print("Python으로 시작?", str_c.startswith('is'))
print("Python으로 시작?", str_c.endswith('.'))
print("Python으로 시작?", str_c.endswith('!'))

Python으로 시작? True
Python으로 시작? False
Python으로 시작? True
Python으로 시작? False

## replace() : 문자열 바꾸기
- 지정한 문자열은 찾아서 바꾸는 메서드

In [ ]:
str_a = 'Python is fast. Python is friendly. Python is open.'

#Pythong -> iPython
print(str_a.replace('Python', 'iPython'))

iPython is fast. iPython is friendly. iPython is open.

In [ ]:
str_b = '[python][is][fast]'
str_b1 = str_b.replace('[', '')
str_b2 = str_b1.replace(']', ' ')
result = str_b2.rstrip()
print(result)

python is fast

#리스트 함수(p.54)

##append()
- 리스트에서 항목하나를 맨 마지막에 추가

In [ ]:
myFriends = ['James', 'Robert', 'Lisa', 'Mary']
myFriends.append('Thomas')

result = myFriends.append('Thomas')
print(result)

['James', 'Robert', 'Lisa', 'Mary', 'Thomas']
None

In [ ]:
newFriends = ['a', 'b', 'c']
myFriends.extend(newFriends)
myFriends

['James', 'Robert', 'Lisa', 'Mary', 'a', 'b', 'c']

## insert ()
-항목의 위치를 나타내는 인덱스 i 에data를 삽입

In [ ]:
myFriends = ['James', 'Robert', 'Lisa', 'Mary']
myFriends.insert(1, 'evan')
print(myFriends)

['James', 'evan', 'Robert', 'Lisa', 'Mary']

In [141]:
ex_list = ["a", "b", "c", "d",]
ex_list.insert(0, "e")
ex_list

['e', 'a', 'b', 'c', 'd']

## 함수
- 다른 개발자분들이 만들어 놓은 함수를 갖다 씀
- 이번 시간에 해야하는것 : 우리가 함수를 만들자

#함수의 구조
#매개변수, 인자 (p116)
def 함수명(인자) ([인자1, 인자2, ......ㅇ인자n]):
#  코드블록
return반환값

In [5]:
def mySum(a, b):
  c = a + b
  return c

a = 1
b = 1

result = mySum(a, b)
print(result)

2

-뺼셈 함수

In [18]:
def mySubtract(y, x) :
  z = y - x
  return z

y = 2
x = 2

result = mySubtract(y, x)
print(result)

0

In [10]:
m = 1

result = mySubtract(m, b)
print (result)

0

In [11]:
def mySum(a, b):
  c = a + b
  return c

m = 4
result = mySubtract(m, b)
print(result)

3

In [21]:
def my_func():
  print("My first function")
  print("This is a function!")

In [24]:
my_func()

My first function
This is a function!

In [29]:
def mySum(a, b = 0):
  c = a + b
  print(f'good{c}')


a = 1
result = mySum(a)
print(result)

good1
None

### 변수의 유효범위 (p121)
- 지역 변수 & 전역 변수
- Local / Global variable

In [43]:
a= 5 # 전역변수

def func1():
  a = 1 #localvar
  print(f'func1local a = {a}')

def func2():
  a = 4 #localvar
  print(f'func1local a = {a}')

def func3():
  print(f'func3 global a = {a}')

def func4():
  global a
  a = 500
  print(f'func4 global a = {a}')

func1()
func2()
func3()
func4()
print (f'전역 변수 a = {a}')
func3()

func1local a = 1
func1local a = 4
func3 global a = 5
func4 global a = 500
전역 변수 a = 500
func3 global a = 500

### 람다 함수

In [4]:
mySquare = lambda x : x ** 2
mySquare(5)

25

In [3]:
(lambda 인자 (=매개변수) : 인자를 활용한 코드) (원하는 인자 코드 입력)

SyntaxError: ignored

In [3]:
def myPower(x):
  y = x ** 2
  print(y)
#  return y

myPower(3)

9

In [ ]:
## 클래스 선언과 객체 생성
- 함수의 확장
+함수 : 각 덧셈함수, 뺄셈함수 곰셈함수
+클래스 : 사칙연산 클래스 (예: 계산기)
+라이브러리 : 클래스들의 묶음

In [4]:
# 자전거의 속성 : data
# 자전거의 동작 : method (=function)

In [ ]:
class Bycycle():
  data1 = wheelsize
  data2 = framecolor


def speed():
  pass

def direction():
  pass

def stop():
  pass

title = Bycycle(data1, data2)

In [ ]:
fruits = ['1', '2', '3', '3', '4', '5', '6', '7']
#리스트에는 숫자 덧셈 뺄셈 X

In [13]:
result1 = 0
result2 = 0
def add1(num):
  global result1

  result1 = result1 + num
  return result1
print(add(3))
print(add(8))


def add2(num):
  global result2

  result2 = result2 + num
  return result2
print(add(3))
print(add(5))
print(add2(3))
print(add2(8))

46
54
57
62
3
11

In [15]:
result1 = 0
result2 = 0

def add1(num):
  global result1

  result1 = result1 + num # 결괏값(result)에 입력값(num) 더하기
  return result1
  print(add(3))
  print(add(8))

def add2(num):
  global result2

  result2 = result2 + num # 결괏값(result)에 입력값(num) 더하기
  return result2


print(add1(3))
print(add1(5))
print(add2(3))
print(add2(8))

3
8
3
11

In [27]:
class calculator:

  def __init__(self):
    self.result = 0  #result reset

  #class method
  def add(self, num):
    self.result = self.result + num
    return self.result

cal1 = calculator()
cal2 = calculator()
cal3 = calculator()

print(cal1.add(3))
print(cal1.add(5))
print(cal2.add(1))
print(cal2.add(2))
print(cal3.add(100))

3
8
1
3
100

### 객체 초기화
- `__init__()` : 객체생성과 동시에 속성값을 지정할 수 있다
 - 주로 클래스선언시 변수 초기화

In [ ]:
class Bicycle():
  def__init__(self, wheel_size, color):
    self.wheel_size = wheel_size
    self.color = color
  def stop(self):
    print('Bicycle

In [29]:
class Bicycle():

  # 변수 초기화
  def __init__(self, wheel_size, color):
    self.wheel_size = wheel_size
    self.color = color

  def stop(self):
    print('자전거({0}, {1}) : 정지'.format(self.wheel_size, self.color))

In [35]:
my_Bicycle = Bicycle(26, 'black')
your_Bicycle =Bicycle(30, 'pink')

my_Bicycle.stop()
your_Bicycle.stop()

자전거(26, black) : 정지
자전거(30, pink) : 정지