<a href="https://colab.research.google.com/github/less927/mulcamp34/blob/main/%EA%B8%B0%EC%B4%88%EB%AC%B8%EB%B2%95231227.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Chapter 3. 파이썬을 계산기처럼
## 사칙연산

In [ ]:
1+1

2

In [ ]:
5-2

3

In [ ]:
15*2

30

In [ ]:
#나눗셈
#python 3.x 실수 2.x 정수
10/2  #정수 / 정수 반환값은 실수형

5.0

- 실수연산

In [ ]:
print(1.2 + 5.3)
print(5.3 - 2.2)
print(2.5*2.5)
print(5.5/2.5)

6.5
3.0999999999999996
6.25
2.2

In [ ]:
print(5.3 - 2.2)

3.0999999999999996

In [ ]:
print(2.5*2.5)

6.25

In [ ]:
print(5.5/2.5)

2.2

###연산규칙
- (1)괄호안 계산
- (2) 지수계산
- (3) 곱셈과 나눗셈
- (4) 덧셈과 뺄셈
- (5)같은순위 왼쪽 오른쪽
- (6)괄호는 안쪽부터

In [ ]:
print(2 + 3 * 4)

14

In [ ]:
print(3 / 2 * 4 - 5 /2)

3.5

In [ ]:
print ((5 * 4 - 15) + ((5 - 2) * (9 - 7)))

11

In [ ]:
print(type(3))

<class 'int'>

In [ ]:
print(type(3.5))

<class 'float'>

In [ ]:
print(type(~~~))

SyntaxError: ignored

함수의 종류
-내장 함수 (built- in) 파이썬 설치와 함께 제공하는 기본적인 함수
(print, type)
-

파이썬은 객체지향 언어입니다.

##거듭제곱과 나머지
- 숫자A 를 N번 곱하지 (Power)
 +A는 및 N을 지수라고 표현

In [ ]:
print (2 * 2 * 2 * 2 * 2)

32

In [ ]:
print (2 ** 5)

32

- 나머지 구하는 방법

In [ ]:
13 % 5

3

In [ ]:
13 // 5

2

- 교재 표 3-1 (p34) 산술연산자 표 정리

## 과학적 표기법
- 아주 큰 수, 작은 수를 다뤄야 하는 케이스
- 300,000,000= 3*10**8 , 3e8

In [ ]:
print (3*10**8)
print (3e8)

300000000
300000000.0

In [ ]:
3e-4

0.0003

## 진수 표현과 변환

In [ ]:
0b10001 2진법

SyntaxError: ignored

In [ ]:
0o21 8 8진법

In [ ]:
0x11 16진법

-메소드
 + bin() 10진수를 2진수로
 + oct() 10-> 8
 + hex() 10-> 16

## 논리 연산 및 비교 연산
- 참 / 거짓
-

In [ ]:
print(True)

In [ ]:
print(False)

In [ ]:
print(type(True))

### 논리 연산자
- and : A and B : A 와 B 모두 참일때 참
- or : A 와 B 중 하나라도 참이면 참 둥다 거짓일때 거짓
- not A 가 참일때 거짓 A 가 거짓이면 참

In [ ]:
print(True and True)
print(True and False)
print(False and true)
print(False and false)

In [ ]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

In [ ]:
not True

In [ ]:
not False

### 비교연산

In [ ]:
print(1==2)
print(1 != 2)
print(1 <= 2)
print(1 < 2)
print(1 >= 2)
print(1 > 2)

False
True
True
True
False
False

비교연산 + 논리연산

In [ ]:
1 > 0 and -2 < 0 # 비교연산 (1순위) 논리연산 (2순위)

True

In [ ]:
((3 < 0 ) and (-5 > 0) and (1 > 5))

False


# Chapter 4. 변수와 자료형

## 변수

In [ ]:
1 + 1

2

변수명 = data

In [ ]:
# 변수 : variable, 데이터
a = 100
b = 110
c = 120
print ((a)*(b))

11000

In [ ]:
#변수명 짓기 규칙
#snake
num_a = 100
num_b = 110
num_c = 120

#camel
#myStudent = evan
#mySchool = 학교
print (num_a)#내장함수명을 변ㅜ명으로   x
num = 1
Num = 2
print(num)
print(Num)

100
1
2

### 예약어는 변수명으로 이용할수없음
- ex) print, None, True ,etc

### 변수의 반대어 상수
- 한번 지정후 변하지않는값

In [ ]:
#상수
pi = 3.14

In [ ]:
num1 = (int(num1))
num2 = (int(num2))

print(num1, num2)

100 200

In [ ]:
print(num1 + num2)

300

In [ ]:
print(type(num1))
print(type(num2))

<class 'str'>
<class 'str'>

## 문자열
- " / ' 지정

In [ ]:
string 1 - 'string test'

SyntaxError: ignored

In [ ]:
string3 - 'this is a "double" string test'

SyntaxError: ignored

In [ ]:
long_string1 = """
a
a
a
a
"""

print(long_string)

NameError: ignored

In [ ]:
a = 'Enjoy'
b = ' Python!'
print (a + b)

Enjoy Python!

In [ ]:
print (a * 3
)

 Enjoy Enjoy Enjoy

## 리스트 (list) p.49

In [ ]:
# 1번 학생의 국어 영어 수학 과학
student1 = [90, 95, 85,80]
student1

[90, 95, 85, 80]

In [ ]:
print(type(student1))

<class 'list'>

### 인덱싱(indexing)
- 리스트에서 특정 데이터를 추출한다

In [ ]:
student1

[90, 95, 85, 80]

In [ ]:
print (student1[0])
print (student1[1])
print (student1[2])
print (student1[3])

100
95
85
80

In [ ]:
greeting = 'hello, Python'

In [ ]:
print (b[1])

P

In [ ]:
print (greeting[7])

P

### 리스트 수정, 삭제

In [ ]:
student1 [0] = 100
student1 [0]

100

In [ ]:
#문자열 덧셈연산자 + 곱셈연산자
#리스트에 적용
myFriends = ['김', '박', '유', '이']
newFriends = ['창']

myFriends2 = myFriends + newFriends
print(myFriends2)

['김', '박', '유', '이', '창']

In [ ]:
myNumbers = [1]
myNumbers * 3

[1, 1, 1]

In [ ]:
mixed = [0, 2, 3.14, 'Python', True, myFriends2]
mixed

[0, 2, 3.14, 'Python', True, ['김', '박', '유', '이', '창']]

In [ ]:
mixed[3][1]

'y'

### 슬라이싱
- 문자열, 리스트 그 외 파이썬 거의 대부분 자료형 원리 동일 적

In [ ]:
list_data = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
print(list_data)
print(list_data[0:6])
print(list_data[4:])
print(list_data[:])
print(list_data[::2])
print(list_data[::3])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5]
[4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 2, 4, 6, 8]
[0, 3, 6, 9]

In [ ]:
greeting = 'hello, Python'
print(greeting[0:5])

hello

##튜플(Tuple)
- 리스트와 유사하다

In [ ]:
tuple1 = (1, 2, 3, 4)
print(tuple1)
print(type(tuple))

(1, 2, 3, 4)
<class 'type'>

인덱싱

In [ ]:
tuple_data = (0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
print(tuple_data[0:5])
print(tuple_data[:])
print(tuple_data[-1])

(0, 1, 2, 3, 4)
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
9

### 차이점

In [ ]:

l_data = [0, 1, 2, 3,]
l_data[3] = [30]
del l_data[3]

In [ ]:
t_data = (0, 1, 2, 3,)
t_data[3] = 30

TypeError: ignored